/target
.idea
.vscode
.DS_Store
*.swp
*.swo
*.swn
*.tmp
*.log
*.bak
*.orig
*.rs.bk
.direnv
/result
/result-*
/local
/target-cross
/android/.gradle
/android/build
/android/app/build
/android/local.properties
